/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  background-color: #fff;
  margin: 0, auto;
  -webkit-font-smoothing: antialiased;
}


nav.main-menu {
  margin-top: 16px;
  background-color: $nav-button-color;
  padding: 8px 16px;
}

nav.main-menu a {
  color: white;
  
  margin: 4px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-right: 2px solid #fff;
  padding-right: 5px;
}

#search-box{
  width: 200px;
  height: 20px;
  border: 1px solid lightgray;
}

.inline-display {
  display: inline;
}

.login-container {
  background-color: #00BCD4;
}

.main-container {
  color: #fff;
  background-color: $header-color;
}

// md-toolbar-row {
//   justify-content: space-between;
// }

.app-toolbar-filler {
  flex: 1 1 auto;
}

div.login-panel {
  margin-bottom: 15px;

}

.title {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: $header-color;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.5em;
    color: #fff;
}

.login-input {
  width: 100%;
}

.app-icon-button {
  display: none;
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0 30px 0 0;
  min-width: 0;
  text-align: left;
  text-decoration: none;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .app-icon-button {
    display: block;
  }
  .nav {
    display:none;
  }
  .form-control {
    width:100%;
    display: block;
    }
}